{% extends "blog/base.html" %}
{% load static %}
{% block page-header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'blog/img/home-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% block site-heading %}
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <hr class="small">
                        <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                    </div>
                    {% endblock site-heading %}
                </div>
            </div>
        </div>
    </header>
    <!--/ -->
{% endblock page-header %}
{% block content %}
{% endblock content %}



