{% extends "blog/base_index.html" %}
{% load blog_tags %}
{% block title %}Post list by Tag{% endblock title %}
{% block content %}
<!-- Main Content -->
    <div class="container">
        <h1>TAG: {{ tag.name }}</h1>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for post in post_list %}
                <div class="post-preview">
                    <a href="{{ post.get_absolute_url }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.body|markdown|truncatewords:30|linebreaks }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <strong>{{post.author }}</strong> on {{ post.publish|date:"SHORT_DATE_FORMAT" }}</p>
                </div>
                <hr>
                {% empty %}
                    <li>No post yet.</li>
                {% endfor %}
                {% include "blog/post/pagination.html" with page_obj=page_obj %}
            </div>
        </div>
    </div>
{% endblock content %}